{{>head}}
{{>navbar}}

<div class="container-fluid">
    <div class="row">
    <div class="col-8">
        <h1>HOLA JUAN</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, iusto. Temporibus id obcaecati aliquam eos
            sequi suscipit voluptatum totam fuga, nesciunt esse dolore veniam, quibusdam maxime non harum repellendus
            ex?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/gato.jpg" alt="" class="img-thumbnail">
    </div>
</div>
</div>

{{>footer}}